.productInfoDiv{
    /* background-color: lightgray; */
    width: 100%;
}

.productInfoGrid{
    /* background-color: ; */
    background-color: #f6f6f6;
    display: flex;
    width: 100%;
    height: fit-content;
}

.productInfoItem{
    background-color: #f6f6f6;
    min-height: 70px;
    border: 2px #a3a3a3aa solid;
    margin-top: -2px;
    margin-left: -2px;
}

.title{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.description{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 30px 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.topleft{
    border-top-left-radius: 3px;
}

.topright{
    border-top-right-radius: 3px;
}

.bottomleft{
    border-bottom-left-radius: 3px;
}

.bottomright{
    border-bottom-right-radius: 3px;
}

.grid2{
    width: 20%;
}

.grid4{
    width: 40%;
}

.grid6{
    width: 60%;
}

.grid8{
    width: 80%;
}